Fuentes-Gub.uy/Generales-Documentos de Interes/Respuesta+Servicios-WS_Intercambio.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="Respuestas">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Respuesta" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Respuesta">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Codigo"/>
        <xs:element ref="Descripcion"/>
        <xs:element ref="Detalle"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Codigo">
     <xs:simpleType>
      <xs:restriction base="xs:string">
			<xs:enumeration value="0"/>
			<xs:enumeration value="1000"/>
			<xs:enumeration value="1001"/>
			<xs:enumeration value="1002"/>
			<xs:enumeration value="2000"/>
			<xs:enumeration value="2001"/>
			<xs:enumeration value="2002"/>
			<xs:enumeration value="3000"/>
			<xs:enumeration value="3001"/>
			<xs:enumeration value="3002"/>
			<xs:enumeration value="4000"/>
			<xs:enumeration value="4001"/>
			<xs:enumeration value="4002"/>			
      </xs:restriction>
    </xs:simpleType>
  </xs:element>

  <xs:element name="Descripcion" type="xs:string"/>     

  <xs:element name="Detalle" type="xs:string"/>
</xs:schema>
