Fuentes-Gub.uy/Generales-Documentos de Interes/wsdl_con_WS-Security_aws_efactura_intercambio.xml

<?xml version="1.0" encoding="UTF-8"?>

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap11="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp200409="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsp200607="http://www.w3.org/2006/07/ws-policy" xmlns:ns0="http://dgi.gub.uy" targetNamespace="http://dgi.gub.uy">
<wsdl:types xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<xsd:schema>
<xsd:import schemaLocation="aws_efactura_intercambio.xsd1.xsd" namespace="http://dgi.gub.uy"/></xsd:schema></wsdl:types>
<wsdl:message name="WS_eFactura_Intercambio.NOTIFICACIONANULACIONCFESoapIn">
<wsdl:part name="parameters" element="xsns:WS_eFactura_Intercambio.NOTIFICACIONANULACIONCFE" xmlns:xsns="http://dgi.gub.uy"/></wsdl:message>
<wsdl:message name="WS_eFactura_Intercambio.NOTIFICACIONANULACIONCFESoapOut">
<wsdl:part name="parameters" element="xsns:WS_eFactura_Intercambio.NOTIFICACIONANULACIONCFEResponse" xmlns:xsns="http://dgi.gub.uy"/></wsdl:message>
<wsdl:message name="WS_eFactura_Intercambio.RESPUESTACFESSoapIn">
<wsdl:part name="parameters" element="xsns:WS_eFactura_Intercambio.RESPUESTACFES" xmlns:xsns="http://dgi.gub.uy"/></wsdl:message>
<wsdl:message name="WS_eFactura_Intercambio.RESPUESTACFESSoapOut">
<wsdl:part name="parameters" element="xsns:WS_eFactura_Intercambio.RESPUESTACFESResponse" xmlns:xsns="http://dgi.gub.uy"/></wsdl:message>
<wsdl:message name="WS_eFactura_Intercambio.RESPUESTASOBRESoapIn">
<wsdl:part name="parameters" element="xsns:WS_eFactura_Intercambio.RESPUESTASOBRE" xmlns:xsns="http://dgi.gub.uy"/></wsdl:message>
<wsdl:message name="WS_eFactura_Intercambio.RESPUESTASOBRESoapOut">
<wsdl:part name="parameters" element="xsns:WS_eFactura_Intercambio.RESPUESTASOBREResponse" xmlns:xsns="http://dgi.gub.uy"/></wsdl:message>
<wsdl:message name="WS_eFactura_Intercambio.SOBRESoapIn">
<wsdl:part name="parameters" element="xsns:WS_eFactura_Intercambio.SOBRE" xmlns:xsns="http://dgi.gub.uy"/></wsdl:message>
<wsdl:message name="WS_eFactura_Intercambio.SOBRESoapOut">
<wsdl:part name="parameters" element="xsns:WS_eFactura_Intercambio.SOBREResponse" xmlns:xsns="http://dgi.gub.uy"/></wsdl:message>
<wsdl:portType name="WS_eFactura_IntercambioSoapPort">
<wsdl:operation name="NOTIFICACIONANULACIONCFE">
<wsdl:input name="NOTIFICACIONANULACIONCFERequest" message="ns0:WS_eFactura_Intercambio.NOTIFICACIONANULACIONCFESoapIn"/>
<wsdl:output name="NOTIFICACIONANULACIONCFEResponse" message="ns0:WS_eFactura_Intercambio.NOTIFICACIONANULACIONCFESoapOut"/></wsdl:operation>
<wsdl:operation name="RESPUESTACFES">
<wsdl:input name="RESPUESTACFESRequest" message="ns0:WS_eFactura_Intercambio.RESPUESTACFESSoapIn"/>
<wsdl:output name="RESPUESTACFESResponse" message="ns0:WS_eFactura_Intercambio.RESPUESTACFESSoapOut"/></wsdl:operation>
<wsdl:operation name="RESPUESTASOBRE">
<wsdl:input name="RESPUESTASOBRERequest" message="ns0:WS_eFactura_Intercambio.RESPUESTASOBRESoapIn"/>
<wsdl:output name="RESPUESTASOBREResponse" message="ns0:WS_eFactura_Intercambio.RESPUESTASOBRESoapOut"/></wsdl:operation>
<wsdl:operation name="SOBRE">
<wsdl:input name="SOBRERequest" message="ns0:WS_eFactura_Intercambio.SOBRESoapIn"/>
<wsdl:output name="SOBREResponse" message="ns0:WS_eFactura_Intercambio.SOBRESoapOut"/></wsdl:operation></wsdl:portType>
<wsdl:binding name="WS_eFactura_IntercambioSoapBinding" type="ns0:WS_eFactura_IntercambioSoapPort">
<soap11:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<wsdl:operation name="NOTIFICACIONANULACIONCFE">
<soap11:operation soapAction="http://dgi.gub.uyaction/AWS_EFACTURA_INTERCAMBIO.NOTIFICACIONANULACIONCFE" style="document"/>
<wsdl:input name="NOTIFICACIONANULACIONCFERequest">
<soap11:body use="literal"/></wsdl:input>
<wsdl:output name="NOTIFICACIONANULACIONCFEResponse">
<soap11:body use="literal"/></wsdl:output></wsdl:operation>
<wsdl:operation name="RESPUESTACFES">
<soap11:operation soapAction="http://dgi.gub.uyaction/AWS_EFACTURA_INTERCAMBIO.RESPUESTACFES" style="document"/>
<wsdl:input name="RESPUESTACFESRequest">
<soap11:body use="literal"/></wsdl:input>
<wsdl:output name="RESPUESTACFESResponse">
<soap11:body use="literal"/></wsdl:output></wsdl:operation>
<wsdl:operation name="RESPUESTASOBRE">
<soap11:operation soapAction="http://dgi.gub.uyaction/AWS_EFACTURA_INTERCAMBIO.RESPUESTASOBRE" style="document"/>
<wsdl:input name="RESPUESTASOBRERequest">
<soap11:body use="literal"/></wsdl:input>
<wsdl:output name="RESPUESTASOBREResponse">
<soap11:body use="literal"/></wsdl:output></wsdl:operation>
<wsdl:operation name="SOBRE">
<soap11:operation soapAction="http://dgi.gub.uyaction/AWS_EFACTURA_INTERCAMBIO.SOBRE" style="document"/>
<wsdl:input name="SOBRERequest">
<soap11:body use="literal"/></wsdl:input>
<wsdl:output name="SOBREResponse">
<soap11:body use="literal"/></wsdl:output></wsdl:operation></wsdl:binding>
<wsdl:service name="WS_eFactura_Intercambio">
<wsp:PolicyReference URI="#policy0" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"/>
<wsdl:port name="WS_eFactura_IntercambioSoapPort" binding="ns0:WS_eFactura_IntercambioSoapBinding">
<soap11:address location="https://efactura.dgi.gub.uy:2440/ePruebaWSFE/servlet/aws_efactura_intercambio"/></wsdl:port>
<wsdl:port name="WS_eFactura_IntercambioSoapPort.1" binding="ns0:WS_eFactura_IntercambioSoapBinding">
<soap11:address location="https://efactura.dgi.gub.uy:2440/ePruebaWSFE/servlet/aws_efactura_intercambio"/></wsdl:port></wsdl:service>
<wsp:Policy wsu:Id="policy0" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
<wsp:ExactlyOne>
<wsp:All>
<dpe:summary xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200512" xmlns:dpe="http://www.datapower.com/extensions">
    
<dppolicy:domain xmlns:dppolicy="http://www.datapower.com/policy">
      http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200512
    </dppolicy:domain>
    
<description>
      Implements WS Security Policy 1.1 - support SignedParts
    </description>
  </dpe:summary>
<sp:SignedParts xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200512">
        
<sp:Body/>
      </sp:SignedParts></wsp:All></wsp:ExactlyOne></wsp:Policy></wsdl:definitions>